.square {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-weight: bold;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-text {
  text-align: center;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mine0 {
  color: white;
  background-color: white;
}

.mine1 {
  background-color: #85FEC5;
}

.mine2 {
  background-color: #86F7FE;
}

.mine3 {
  background-color: #87B9FE;
}

.mine4 {
  background-color: #9589FE;
}

.mine5 {
  background-color: #D28AFE;
}

.mine6 {
  background-color: #FE8CEC;
}

.mine7 {
  background-color: #FE8DB2;
}

.mine8 {
  background-color: #FEA58F;
}

.mineX {
  background-color: red;
}

.mine {
  background-color: #404040;
}